<table class="tabpayscir">
	 {{#each listeEcurie}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
      <a href="/detailEcurie/{{this.ecunum}}"> {{this.ecunom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />

<table>
	 {{#each detail1Ecurie}}
    <img src="/image/ecurie/{{this.ecuadresseimage}}" alt="drapeau de l'écurie {{this.ecunom}}" />
    <p><strong>Nom : </strong>{{this.ecunom}}</p>
    <p><strong>Directeur : </strong>{{this.ecunomdir}}</p>
    <p><strong>Adresse : </strong>{{this.ecuadrsiege}}</p>
    <p><strong>Pays : </strong>{{this.paynom}}</p>
 {{/each}}
</table>


{{#each listePilotes}}
	{{#if @first}}
		<p><strong>Pilote : </strong></p>
	{{/if}}

  <a href="../detailsPilote/{{this.pilnum}}">{{this.pilprenom}} {{this.pilnom}}</a>
	<br/>
{{else}}
	<p>Cette écurie ne participe pas au championnat cette année.</p>
{{/each}}

<table>
	<tr>
		{{#each listeVoitures}}
			<td>
				<ul style="list-style: none;">
					<li><img src="/image/ecurie/voiture/{{this.voiadresseimage}}" alt="drapeau de la voiture {{this.voinom}}" height="100" width="100"/></li>
					<li>{{this.voinom}}</li>
					<li>{{this.typelibelle}}</li>
				</ul>
			</td>
		{{/each}}
	</tr>
</table>
