<center>
	<table class="listenoms">
		<tr>
	    <td>Cliquez sur une lettre : </td>
			{{#each listeLettrePilote}}
				<td><a href ="../repertoirePiloteLettre/{{this.lettre}}">{{this.lettre}}</a></td>
			{{/each}}
		</tr>
	</table>
</center>

{{#each lePilote}}
  <table>
    <tr>
			{{#each ../photoProfil}}
      	<td><img src="/image/pilote/{{this.phoadresse}}" alt="Photo de {{../this.pilprenom}} {{../this.pilnom}}" height="100" width="100"></td>
			{{/each}}
      <td><p><strong>Nom : </strong>{{this.pilnom}} {{this.pilprenom}}</p></td>
		</tr>
		<tr>
			<td></td>
			<td><p><strong>Date de naissance : </strong>{{this.pildatenais}}</p></td>
			<td><p><strong>Poids : </strong>{{this.pilpoids}} Kg</p></td>
		</tr>
		<tr>
			<td></td>
			<td><p><strong>Nationalité : </strong>{{this.paynat}}</p></td>
			<td><p><strong>Taille : </strong>{{this.piltaille}} Cm</p></td>
		</tr>
	<table>

				{{#each ../lecurie}}
          <p><strong>Ecurie : </strong>{{this.ecunom}}</p>
        {{else}}
          <p>Non renseignée</p>
        {{/each}}

				<br/>
        <p><strong>Principaux sponsors : </strong></p>
        <!-- Les sponsors -->
        {{#each ../lesSponsors}}
          <p><strong>{{this.sponom}}</strong> ({{this.sposectactivite}})</p>
        {{else}}
          <p>Non renseignée</p>
        {{/each}}
        <br/>
        <p><strong>Qui suis-je ? : </strong>{{this.piltexte}}</p>
        <!-- les photos -->
				<center>
        {{#each ../lesPhotos}}
					<a href="/image/pilote/{{this.phoadresse}}" rel="lytebox[vacation]" title="{{this.phosujet}} : {{this.phocommentaire}}">
          	<img src="/image/pilote/{{this.phoadresse}}" alt="Photo de {{../this.pilprenom}} {{../this.pilnom}}" height="100" width="100">
					</a>
        {{else}}
          <p>Aucune autre image disponible</p>
        {{/each}}

    </tr>
  </table>

	{{#each ../laPhoto}}
		<center>
			<ul style="border-style: solid;list-style: none;">
				<li><img src="/image/pilote/{{this.phoadresse}}" alt="Photo de {{this.pilprenom}} {{this.pilnom}}"></li>
				<li><p>{{this.phosujet}}</p></li>
				<li><p>{{this.phocommentaire}}</p></li>
			</ul>
		</center>
	{{/each}}

{{/each}}
